{% load crispy_forms_tags %}

<div class="" ng-controller="DocumentCtrl">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                {% crispy essay_form %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-5">
                {% crispy intro_form %}
                <a class="btn btn-primary" ng-click="saveIntro()">Save Introduction</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5">
                {% crispy body_form %}
                <a class="btn btn-primary" ng-click="saveBody()">Save Body</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5">
                {% crispy conclusion_form %}
                <a class="btn btn-primary" ng-click="saveConclusion()">Save Conclusion</a>
            </div>
        </div>
        <div class="row">
                    <a href="/#/essays/{[{ essay.id }]}" class="btn btn-primary btn-lg pull-right">View Essay</a>
            </div>
        </div>


        <div class="col-md-7" id="summary-view">
            <h2 ng-bind="document.essay.title"></h2>
            <div class="doc-intro">

                <p>
                    {[{ document.intro.intro }]}
                    {[{ document.intro.transition }]}
                    {[{ document.intro.thesis }]}
                    {[{ document.intro.conclusion }]}
                </p>
                <p ng-repeat="body in document.body">
                    <a ng-click="editBody(body)" class="plain-anchor">
                        {[{ body.intro }]}
                        {[{ body.transition }]}
                        {[{ body.body }]}
                        {[{ body.conclusion }]}
                    </a>
                </p>
                <p id="body-paragraph">
                    {[{ bodyParagraph.intro }]}
                    {[{ bodyParagraph.transition }]}
                    {[{ bodyParagraph.body }]}
                    {[{ bodyParagraph.conclusion }]}
                </p>
                <p>
                    {[{ document.conclusion.intro }]}
                    {[{ document.conclusion.transition }]}
                    {[{ document.conclusion.thesis }]}
                    {[{ document.conclusion.body }]}
                    {[{ document.conclusion.conclusion }]}
                </p>
            </div>
        </div>


    </div>
